@charset "utf-8";

.main {
  padding: 0 30px;
}

.table {
  width: 100%;
  padding: 5px 10px;
  border: gray solid;
  border-radius: 5px;

  border-collapse: separate;
  border-spacing: 0 10px;

  table-layout: fixed;
}

.table tr td {
  text-align: center;
  background-color: antiquewhite;
}
