@charset "utf-8";

.main {
  padding: 0 30px;
}

.input-form {
  width: 100%;
  padding: 5px 10px;
  border: gray solid;
  border-radius: 5px;
}

.div-form {
  margin-bottom: 10px;
}

.div-btn {
  text-align: right;
}

.btn-primary {
  padding: 5px 10px;
  border: #027;
  background-color: #0275d8;
  color: #fff;
}

.alert {
  text-align: right;
  background-color: green;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: none;
  color: #fff;
}

.close-alert:hover {
  cursor: pointer;
}
